@page
@model ER_Recovery.Web.Pages.Admin.UserManagerModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "User Manager";
}

<partial name="_Notifications" />

<div class="container mt-5">
    <h3 class="text-primary">Users</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model.UsersWithRolesViewModel)
            {
                <tr>
                    <td>@user.User.UserHandle</td>
                    <td>@user.User.FirstName</td>
                    <td>@user.User.LastName</td>
                    <td>@user.User.City</td>

                    <td>@string.Join(", ", user.Roles)</td>
                    <td>
                        <div class="d-flex">
                            <form method="post" asp-page-handler="ChangeRole" class="me-2">
                                <input type="hidden" name="userId" value="@user.User.Id" />
                                <input type="hidden" name="newRole" value="@(user.Roles.Contains(UserRoles.Role_Admin) ? UserRoles.Role_User : UserRoles.Role_Admin)" />
                                <button type="submit" style="width:150px;" class="btn btn-sm
                                    @(user.Roles.Contains(UserRoles.Role_Admin) 
                                    ? "btn-danger" : "btn-success")">
                                    @(
                                    user.Roles.Contains(UserRoles.Role_Admin) 
                                        ? "Demote to User" : "Promote to Admin")                                                                            
                                </button>
                        </form>

                        <form method="post" asp-page-handler="DeleteUser">
                            <input type="hidden" name="userId" value="@user.User.Id"/>
                                <button type="submit" style="width:auto;" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
