@page
@model ER_Recovery.Web.Pages.AA.MeetingsModel
@{
    ViewData["Title"] = "AA Meetings";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Eaton Rapids AA Meetings</h2>

    <h4 class="text-primary">Today's Meetings (@DateTime.Today.DayOfWeek):</h4>
    <ul class="list-group mb-4">

        @if (@Model.TodaysMeetings != null)
        {
            @foreach (var meeting in Model.TodaysMeetings)
            {
                <li class="list-group-item">
                    <strong>@meeting.Time</strong> - @meeting.Description
                </li>
            }
        }
        else
        {
            <li class="list-group-item">There are no meetings today.</li>
        }
    </ul>

    <h4 class="text-secondary">Other Upcoming Meetings:</h4>
    @if (Model.OtherMeetings != null)
    {
        @foreach (var dayGroup in Model.OtherMeetings.GroupBy(m => m.Day))
        {
            <h5 class="mt-3">@dayGroup.Key</h5>
            <ul class="list-group mb-3">
                @foreach(var meeting in dayGroup)
                {
                    <li class="list-group-items">
                        <strong>@meeting.Time</strong> - @meeting.Description
                    </li>
                }
            </ul>
        }

    }
</div>