@page
@model ER_Recovery.Web.Pages.AA.MessageBoard.IndexModel
@using ER_Recovery.Domains.Entities
@using Microsoft.AspNetCore.Identity

@{
}

<partial name="_Notifications" />

<div class="container">
    <h3 class="my-4">Message Board</h3>

    <div class="row">
        <div class="col-md-2 mx-4">
            <div class="row mb-3">
                <a asp-page="/AA/MessageBoard/PostMessage" class="btn btn-primary">Post Message</a>
            </div>

        </div>

        <div class="col-md-6">
            <div class="row">
 
                    @foreach (var messages in Model.MessageBoard)
                    {

                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                            <h5 class="card-title">Subject: <strong>@messages.Title</strong></h5>
                                <h6 class="card-subtitle mb-2 text-muted">Posted by <strong>@messages.UserHandle</strong> on @messages.CreatedTime.ToString("dddd, MM-dd-yyyy")</h6>
                                <p class="card-text mt-3">@messages.Content</p>

                            @if (messages.UserId == Model.CurrentUserId || Model.IsAdmin)
                            {
                                <div class="d-flex justify-content-end">
                                <form method="post" asp-page-handler="MessageDelete" asp-route-messageId="@messages.MessageId">
                                    <button type="submit" style="width:auto;" class="btn btn-danger btn-sm mb-3">Delete</button>
                                </form>
                                </div>
                            }

                            </div>                        
                        </div>
                    }
            </div>
        </div>
    </div>
</div>