@using ER_Recovery.Domains.Enums
@using ER_Recovery.Domains.Models.DTOs
@using ER_Recovery.Web.Models
@using ER_Recovery.Web.Pages.Helpers
@model List<MeetingDTO>

@{
    var currentDay = (MeetingDay)DateTime.Now.DayOfWeek;
    var todaysMeetings = MeetingFilterHelper.GetTodaysMeetings(Model, MeetingType.AA);
}

    <!-- NOTE: Create this into a _Partial -->
    <!-- CHECK IF THERE ARE MEETINGS TODAY -->
    @if (todaysMeetings.Any())
    {
        <h3 class="text-primary">Today's AA Meetings (@currentDay)</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-sm align-middle text-center">
                <thead class="table-light">
                    <tr>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Meeting Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Closed Meeting?</th>
                        @if (User.IsInRole(UserRoles.Role_Admin))
                        {
                            <th style="color:red;">Admin Action</th>
                        }
                    </tr>
                </thead>

                <tbody>

                    @foreach (var meeting in todaysMeetings)
                    {
                        <tr>
                            <td>@meeting.Day</td>
                            <td>@DateTime.MinValue.Add(meeting.Time).ToString("hh:mm tt")</td>
                            <td>@meeting.Location</td>
                            <td>@meeting.Description</td>
                            <td>@meeting.Address</td>
                            <td>@meeting.City</td>
                            <td>@meeting.State</td>
                            @if (meeting.OpenMeeting == true)
                            {
                                <td style="color: green;font-weight: 800;">Open Meeting</td>
                            }
                            else
                            {
                                <td style="color: red;font-weight: 800">Closed Meeting</td>
                            }
                            @if (User.IsInRole(UserRoles.Role_Admin))
                            {
                                <td><button><a asp-page="/Admin/UpdateDeleteMeeting" role="button" asp-route-id="@meeting.Id" style="color:red;text-decoration:none;font-weight:800;justify-content:center;">Edit</a></button></td>
                            }
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="text-danger">No meetings are scheduled for today.</p>
        <p class="text-secondary">Check Charlotte or Lansing</p>
    }    
